<h1> Hello USER</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <p> <%= booking.game.title %></p>
      <p> <%= booking.game.description %></p>
      <%= link_to "See", booking_path(booking) %>
    </li>
  <% end %>
</ul>

