<div class="container login">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
    <%= cl_image_tag(@user.photo, :gravity=>"face", :width=>150, :height=>150, :crop=>"thumb", class: "avatar-resizable") %>
    <h1 style="color: #FF6334"><%= @user.full_name.capitalize %></h1>
    </div>

    <div class="col-sm-8">
      <ul class="inbox-profile">
        <li class="message-profile">
          <div>
            <h2 style="color: black">I love to meet new people and beat them at chess</h2>
            <p style="color: grey">
            Hi, I'm <%= @user.first_name.capitalize %>! I just moved to Paris and I missed playing chess in real life. I was getting tired of beating random stranger online and then I stumbled upon this amazing website! If you love playing chess too you're most welcome to come and play with me in real life !
            </p>
            <p ><%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-primary"%></p>
          </div>
      </ul>
    </div>

  </div>
</div>
