<div class="banner" style="background-image: linear-gradient(-225deg,rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('chess.jpg') %>);">
  <div class="banner-content">
    <h1>ChessMate</h1>
    <p>Find a mate to play with IRL</p>
    <%= link_to "Let's begin", games_path, class: "btn btn-primary" %>
  </div>
</div>
<div class= "wrapper">
<div class="content-description">
  <p><strong>PLAY CHESS ANYWHERE</strong>
    <br>Fed up playing against your computer?
    <br>Connect with human link to improve your level
  </p>
  <h1><strong>TESTIMONIES</strong></h1>
  <p><strong>Bobby Fisher</strong></p>
  <p><i>"Best game I ever played."</i></p>
  <hr>
  <p><strong>Kasparov</strong></p>
  <p><i>"Awesome web app !"</i></p>
</div>

  <div class="card-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <div class="lcol">
            <i class="icon-home fas fa-map-pin"></i>
          <br>
          </div class="lcol">
          <div> <p><br>Find By Location</p></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <div class="lcol">
            <i class="icon-home fas fa-bolt orange"></i>
            <br>
          </div class="lcol">
          <div><p> Find By Time Control</p></div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <div class="lcol"><i class="icon-home fas fa-chess-rook"></i>
          <br></div>
          <div class="lcol"> <p> Find By Level</p></div>

        </div>
      </div>
    </div>
  </div>
</div>
