<div class="banner" style="background-image: linear-gradient(-225deg,rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('chess.jpg') %>);">
  <div class="banner-content">
    <h1>ChessMate</h1>
    <p>Find a mate to play with IRL</p>
    <%= link_to "Let's begin", games_path, class: "btn btn-primary" %>
  </div>
</div>
<div class= "wrapper-white">

  <div class= "container">

    <div class="content-description">
      <h1><strong>PLAY CHESS ANYWHERE</strong></h1>
      <p>Fed up playing against your computer?
      Connect with human link to improve your level
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae necessitatibus, qui nostrum, voluptate obcaecati dignissimos adipisci explicabo dolorem est officia eligendi modi perspiciatis hic. Est autem sed tempora temporibus, esse?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aut, quae repellat mollitia fugit possimus magni provident, saepe facere aspernatur accusamus, eaque! Aspernatur ea ratione et? Dignissimos, aliquam perferendis esse.
      </p>
    </div>

    <div class="row" style= "margin-top: 40px;">

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-map-pin"></i>
          <p>Find By Location</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-bolt orange"></i>
          <p>Find By Time Control</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-chess-rook"></i>
          <p>Find By Level</p>
        </div>
      </div>

    </div>

  </div>
</div>

<!--
      <div class="container-testimonies">
        <div class="row">
          <p><strong>TESTIMONIES</strong></p>
        </div>
        <div class="row">
          <p><strong>Bobby Fisher</strong></p>
          <p><i>"Best game I ever played."</i></p>
        </div>
        <div class="row">
          <p><strong>Kasparov</strong></p>
          <p><i>"Awesome web app !"</i></p>
        </div>
      </div>
    </div>
  </div>
 -->
