<h1>Games</h1>

<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category"><%= game.user.first_name %></div>
          <div class="card-description">
            <h2><%= game.title %></h2>
            <p><%= game.description %></p>
            <p><%= link_to "Create a booking", new_game_booking_path(game) %></p>
          </div>
          </div>
      </div>
    <% end %>
  </div>
</div>


<div class="map">
 <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:48.8666, lng: 13.4098},
        scrollwheel: false,
        zoom: 8
      });
    }
  </script>
-
</div>
