

<div class="container login">

  <% if @games.empty? %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 centered">
        <div class="button-show-card">
          <p>Create a game and meet amazing players in your area</p>
          <%= link_to "Host a game",new_game_path, class: "btn btn-primary"  %>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row">
      <h1 class = "centered"> The games you host </h1>
      <%= render "shared/games_cards" %>
    </div>

  <% end %>

</div>

